body {
    --very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);



    font-family: Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    Font-size: 13px;
    font-weight: 500;
    background-color: var(--Light-Grayish-Blue);
    color: var(--very-Dark-Grayish-Blue);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}


.card {
    display: flex;
    background: white;
    border-radius: 25px;
    width: fit-content;
}

.card-img {
    width: 18em;
    border-radius: 10px 0 0 10px;
    margin-right: 2em;
}

.right-content {
    width: 30em;
    padding: .5em;
}

.right-content-footer {
    display: flex;
    margin-left: auto;
}

.right-content-username {
    display: flex;
    flex-direction: column;
}

.right-content-userimg {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}

.share {
    margin-right: 1em;
    padding: .5em;
    background-color: var(--Grayish-Blue);
    border-radius: 50%;
}

.share-title {
    margin: auto;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 4px;
}

.facebook-icon {
    background-color: var(--Desaturated-Dark-Blue);
    margin: .5em;
}

.tooltip {
    margin-left: auto;
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    display: flex;
    justify-content: center;
    visibility: hidden;
    width: 15em;
    background-color: var(--Desaturated-Dark-Blue);
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -8em;
    margin-bottom: 1em;

}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--Desaturated-Dark-Blue) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}