/* Import fonts */
@font-face {
    font-family: "Roboto";
    src:
        url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    /* Normal weight */
    font-style: normal;
    font-display: swap;
}

/* Bold Weight */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold weight */
    font-style: normal;
    font-display: swap;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(234, 29%, 20%);
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0 auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 10px;
    display: flex;
    justify-content: flex-end;

}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.signup-form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;

}

form p {
    margin-bottom: 20px;

}

form ul {
    list-style: none;
    margin-bottom: 20px;
}

form ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

form ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: hsl(4, 100%, 67%);
    font-size: 1rem;
    line-height: 1;
}

.email-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

form label[for="email"] {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.email-input {
    padding: 15px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1rem;
}


form input[type="email"]::placeholder {
    color: hsl(231, 7%, 60%);
}

form button {
    padding: 15px;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.success-message {
    width: 30%;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    display: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px;

}

.dismiss-button {
    width: 80%;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin: 25px auto 0;


}

.dismiss-button:active {
    background-color: hsl(4, 100%, 67%);
}

.error {
    background-color: hsl(3, 55%, 87%);
    border: 1px solid hsl(4, 100%, 67%) !important;
}

.error-message {
    color: hsl(4, 100%, 67%);
    text-align: center;
    display: none;
}

@media (max-width: 600px) {
    .container {
        padding: 0px;
    }

    .form-container {
        flex-direction: column-reverse;
        align-items: center;

    }

    .illustration-desktop {
        width: 100%;

    }

    .sing-up-img {
        width: 100%;
        aspect-ratio: 17 / 9;
        object-fit: cover;
        object-position: center;
    }

    .signup-form {
        width: 100%;
        padding: 10px;
    }

    .success-message {
        width: 100%;
        min-height: 100dvh;
        padding: 20px;
    }

    .attribution {
        margin-top: 20px;
    }

    .dismiss-button {
        margin: 95% 10% 0;
    }


}